<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814632241316-3edubsju0cgiaitgoqdt6uvnbo7751pc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814632241316-3edubsju0cgiaitgoqdt6uvnbo7751pc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>814632241316-36tdf7k6tt897lvt0uvkoveeptgo0qme.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPNre4TcaZydEstL4XNqWRUx6gQnwFXTg</string>
	<key>GCM_SENDER_ID</key>
	<string>814632241316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.accurascan.accuraqatar</string>
	<key>PROJECT_ID</key>
	<string>accurascan-4039e</string>
	<key>STORAGE_BUCKET</key>
	<string>accurascan-4039e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:814632241316:ios:addc3d944fdd761f93be31</string>
	<key>DATABASE_URL</key>
	<string>https://accurascan-4039e.firebaseio.com</string>
</dict>
</plist>
